.task-card {
  position: relative;
  width: 100%;
  max-width: 300px;
  background: white;
  border: 1px solid #333;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.status {
  font-size: 0.8rem;
}
