.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 900px;
  height: 100%;
  background: cornsilk;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
