.edit-task {
  composes: width-boundaries from '../../styles/common/task-form.scss';
}

.form {
  composes: task-form from '../../styles/common/task-form.scss';

  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
