.header {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: 1.5em;
  background: steelblue;
  color: white;
}

.sections {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 0.5rem;
}

.link {
  color: inherit;
}
