.task-list {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selects {
  width: inherit;
}

.add-task {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  background: white;
  border: 1px solid #333;
  color: inherit;
  text-decoration: none;
}
